:root {
    --black: #232323;
    --thinblack: #2c2c2c;
    --grey: #bbbbbb;
    --almostwhite: #efefef;
    --border: #836be3;
    --purple: #5e3be8;
    --darkerpurple: #5333d2;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    left: 0;
    top: 0;
    background-color: var(--thinblack);
    overflow: hidden;
}

#content {
    display: block;
    transition: 70ms;
}

::placeholder {
    opacity: 1;
    color: var(--grey);
}

button:hover {
    cursor: pointer;
}


#home-btn {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    position: relative;
    top: 20%;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 30px;
    cursor: pointer;
}

/* --SIDE MENU-- */

#sidemenu {
    position: relative;
    overflow-x: scroll;
    justify-content: center;
    transition: ease 700ms;
    background-color: var(--thinblack);
    z-index: 3;
    height: calc(100vh - 50px);
    width: 200px;
}

#add-btn {
    margin: 20px auto;
    height: 35px;
    transition: ease-in 0.1s;
    border: none;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 70px;
    justify-content: center;
    display: flex;
}

#add-btn:hover {
    transform: scale(1.02);
    background-color: var(--darkerpurple);
}

#add-btn:focus-visible {
    outline: none;
}

#add-btn img {
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(232deg) brightness(99%) contrast(103%);
}

#chosep {
    color: var(--grey);
}

/* --SIDE MENU END-- */


/* --MENU TOP-- */


#settings-exit-btn {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    float: right;
    position: relative;
    top: 7px;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 33px;
    cursor: pointer;
}



#menu {
    background-color: #3a3a3a;
    z-index: 2;
    vertical-align: middle;
    position: relative;
    height: 50px;
    width: 100vw;
    left: 0;
    top: 0;
}



#home-btn:hover {
    filter: invert(90%) sepia(98%) saturate(7%) hue-rotate(301deg) brightness(112%) contrast(87%);
}



#list-button {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    float: right;
    position: relative;
    top: 13%;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 33px;
    cursor: pointer;
}

#list-button:hover {
    filter: invert(90%) sepia(98%) saturate(7%) hue-rotate(301deg) brightness(112%) contrast(87%);
}

#presets-wrap button,
#presets-wrap button:hover,
#presets-wrap button:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#presets-wrap {
    vertical-align: middle;
    height: 50px;
    padding: 0 15px 0 15px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    margin: 0;
    transition: all 0.3s;
}


.presets{
    font-size: 17px;
    color: var(--grey);
    font-family: Helvetica, sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(
            to right,
            var(--border),
            var(--border) 50%,
            var(--grey) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0 15px 3px 15px;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.presets::before {
    content: '';
    background: var(--border);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.presets:hover {
    background-position: 0;
}

.presets:hover::before {
    width: 100%;
}

#focused {
    color: var(--border);
    border-bottom: 3px solid var(--border);
    background-position: 0;
}

#focused::before {
    width: 100%;
}



.presetname {
    padding: 0;
    display: table;
    font-size: 25px;
    font-weight: 300;
    margin: -40px auto;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    text-align: center;
    background-color: transparent;
    border: none;
}

.presetname:focus-visible {
    outline: none;
}



.presets-color-div {
    display: none;
}

/* --MENU TOP END-- */

/* --COLOR MAKER-- */


#color-maker {
    display: none;
    text-align: center;
    background-color: rgba(35, 35, 35, 0.8);
    border: 3px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 7;
    position: absolute;
    height: 75vh;
    border-radius: 20px;
    aspect-ratio: 1;
    width: auto;
}



#color-hex-maker {
    margin-top: 5vh;
    border-radius: 10px;
    padding: 0;
    max-width: 450px;
    height: 40px;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    text-align: center;
    background-color: var(--black);
    border: 3px solid black;
}



#color-block-maker {
    -webkit-appearance: none;
    display: inline-block;
    height: 20vh;
    width: 40vh;
    margin-top: 7vh;
    padding: 0;
    border-radius: 18px;
    border: 3px solid black;
}

#color-block-maker::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
    padding: 0;
}

#color-block-maker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 15px;
    padding: 0;
}



#done-btn {
    font-size: 27px;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    margin-top: 20vh;
    transition: ease-in 0.1s;
    border: solid 3px var(--purple);
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 120px;
    height: 45px;
}

#done-btn:hover {
    transform: scale(1.02);
    background-color: var(--darkerpurple);
    border: solid 3px var(--darkerpurple);
}

#done-btn:focus-visible {
    outline: none;
}



#exit-btn-maker {
    position: absolute;
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    align-items: center;
    margin: 15px 15px auto auto;
    height: 34px;
    aspect-ratio: 1;
    right: 1px;
    cursor: pointer;
}

#exit-btn-maker:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

/* --COLOR MAKER END-- */

/* --RESET-- */


#reset-btn {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    margin: auto auto auto 5px;
    position: absolute;
    top: 10px;
    height: 30px;
    transition: 0.3s ease-out;
    display: inline-block;
}



#reset-error {
    display: none;
    text-align: center;
    background-color: var(--black);
    border: none;
    color: var(--grey);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 7;
    position: absolute;
    height: 200px;
    width: 500px;
    border-radius: 10px;
}



#done-btn-reset {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    transition: ease-in 0.1s;
    border: solid 3px var(--purple);
    background-color: var(--purple);
    border-radius: 10px;
    padding: 0 40px;
    height: 40px;
    display: inline-block;
}

#done-btn-reset:hover {
    background-color: var(--darkerpurple);
    border: solid 3px var(--darkerpurple);
}

#done-btn-reset:focus-visible {
    outline: none;
}



#done-btn-reset-no {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 0 40px;
    height: 40px;
    display: inline-block;
}

#done-btn-reset-no:hover {
    text-decoration: underline;
}

#done-btn-reset-no:focus-visible {
    outline: none;
}



#exit-btn-reset {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    align-items: center;
    margin: 10px 10px auto auto;
    height: 35px;
    aspect-ratio: 1;
    float: right;
    cursor: pointer;
}

#exit-btn-reset:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

/* --RESET END-- */

/* --COPY AND EDIT-- */


#editing-wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    opacity: 0;
}



#editing-div {
    border-radius: 5px;
    background-color: #333232;
    width: 500px;
    height: 50px;
    bottom: 10px;
    z-index: 5;
    position: absolute;
    display: flex;
}



#editing-text {
    display: inline-block;
    color: var(--grey);
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
    padding: 0;
    margin: 13px 0 13px 30px;
    font-family: Helvetica, sans-serif;
}



#exit-btn {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    align-items: center;
    margin: auto 10px auto auto;
    height: 28px;
    aspect-ratio: 1;
    float: right;
    cursor: pointer;
}

#exit-btn:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}



#copied-wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}



#copied-div {
    border-radius: 10px;
    background-color: #69ff9b;
    width: 300px;
    height: 50px;
    z-index: 5;
    bottom: 30px;
    display: table;
    position: absolute;
}



#copied-text {
    color: var(--black);
    font-size: 20px;
    font-weight: 300;
    height: fit-content;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* --COPY AND EDIT-- */

/* --BACKGROUND-- */

.background {
    margin: 0;
    top: 50px;
    z-index: 1;
    overflow: hidden;
    background-image: radial-gradient(var(--grey) 3px, transparent 3px);
    background-color: var(--black);
    background-size: 40px 40px;
    width: calc(100vw - 200px);
    left: 200px;
    height: calc(100vh - 50px);
    position: fixed;
    display: inline;
}



.background-div {
    display: flex;
    position: relative;
    z-index: 1;
}



#edit-btn {
    filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(98%) contrast(82%);
    position: absolute;
    right: 10px;
    top: 60px;
    height: 40px;
    aspect-ratio: 1;
    z-index: 2;
}

/* --BACKGROUND END-- */

/* --BACKGROUND OBJECT-- */


.color-canvas-div {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    z-index: 3 !important;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    background-color: var(--black);
    width: 150px;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.5);
}



.color-block-canvas {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    display: inline-block;
    border: none;
}

.color-block-canvas::-webkit-color-swatch {
    border: none;
    border-radius: 7px;
    padding: 0;
}

.color-block-canvas::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 7px;
    padding: 0;
}



.hex-canvas {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: initial;
    font-size: 19px;
    margin: 10px 0 5px 0;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    text-align: center;
    background-color: transparent;
    border: none;
}


/* --BACKGROUND OBJECT END-- */


.color-side-input {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-bottom: 7px;
    padding: 0;
    width: 150px;
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    text-align: center;
    background-color: transparent;
    border: none;
}

.color-side-input:focus-visible {
    outline: none;
}


/* --SIDE MENU OBJECT-- */


.color-div {
    z-index: 3;
    display: inline-block;
    padding: 20px 0;
    height: fit-content;
    width: 100%;
    vertical-align: center;
}



.color-block {
    cursor: pointer;
    border-radius: 10px;
    background-color: #585757;
    width: 50px;
    z-index: 3;
    aspect-ratio: 1;
    display: inline-block;
}



.hex {
    cursor: pointer;
    font-size: 19px;
    margin: 10px 0 0 0;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: var(--grey);
    text-align: center;
    background-color: transparent;
    border: none;
}



.remove-btn {
    height: auto;
    padding: 0;
    position: absolute;
    display: inline-block;
    transition: ease-in 0.1s;
    border: none;
    background: transparent;

}

.remove-btn img {
    height: 28px;
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
}

.remove-btn img:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

/* --SIDE MENU OBJECT END-- */

/* --SETTINGS-- */


#settings {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    display: none;
    opacity: 1;
    background-color: var(--black);
    z-index: 10;
}



#sidebar p,
#sidebar p:hover,
#sidebar p:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 300px;
    width: 30vw;
    height: 100vh;
    background: var(--thinblack);
    color: var(--almostwhite);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    font-size: 20px;
    background: #333232;
}

.settings-menu-item {
    background-image: linear-gradient(
            to right,
            var(--border),
            var(--border) 50%,
            var(--grey) 50%
    );
    cursor: pointer;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
    color: var(--almostwhite);
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.settings-menu-item:before {
    content: '';
    background: var(--border);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.settings-menu-item:hover {
    background-position: 0;
}

.settings-menu-item:hover::before {
    width: 100%;
}



.active::before {
    width: 100%;
}

.active {
    background-position: 0;
}



#settings-exit-btn {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    float: right;
    position: relative;
    top: 7px;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 33px;
    cursor: pointer;
}

#settings-exit-btn:hover {
    filter: invert(90%) sepia(98%) saturate(7%) hue-rotate(301deg) brightness(112%) contrast(87%);
}



#settings-button {
    filter: invert(87%) sepia(0%) saturate(217%) hue-rotate(145deg) brightness(86%) contrast(95%);
    float: right;
    position: relative;
    top: 13%;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 33px;
    cursor: pointer;
}

#settings-button:hover {
    filter: invert(90%) sepia(98%) saturate(7%) hue-rotate(301deg) brightness(112%) contrast(87%);
}


/* --SETTINGS END-- */

/* --MEDIA-- */

@media only screen and (max-width: 1150px) {
    .presetname {
        margin-top: -10px;
    }

    #menu {
        height: 75px;
    }

    #list-button {
        top: -25%;
    }

    #settings-button {
        top: -25%;
    }

    #home-btn {
        top: 12%;
    }

    #edit-btn {
        top: 85px !important;
    }
    .background{
        top: 75px !important;
    }
}


.center {
    text-align: center;
}


.overlay {
    display: none;
    transition: 0.5s;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #000000;
    opacity:0;
    z-index:4;
}