:root {
    --grey: #191919;
    --border: #836be3;
    --purple: #5e3be8;
    --darkerpurple: #5333d2;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    left: 0;
    top: 0;
    background-color: var(--grey);
    overflow: hidden;
}

::placeholder {
    opacity: 1;
    color: white;
}


#home-btn {
    filter: invert(34%) sepia(0%) saturate(240%) hue-rotate(137deg) brightness(90%) contrast(80%);
    position: relative;
    top: 20%;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 30px;
    cursor: pointer;
}

#list-button {
    filter: invert(34%) sepia(0%) saturate(240%) hue-rotate(137deg) brightness(90%) contrast(80%);
    float: right;
    position: relative;
    top: 13%;
    bottom: 0;
    margin: auto 15px auto 10px;
    height: 33px;
    cursor: pointer;
}

#add-btn {
    margin: 20px auto;
    height: 35px;
    transition: ease-in 0.1s;
    border: none;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 70px;
    justify-content: center;
    display: flex;
}

#add-btn:hover {
    transform: scale(1.02);
    background-color: var(--darkerpurple);
}

#add-btn:focus-visible {
    outline: none;
}

#add-btn img {
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(232deg) brightness(99%) contrast(103%);
}

button:hover {
    cursor: pointer;
}

#done-btn {
    font-size: 27px;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-top: 20vh;
    transition: ease-in 0.1s;
    border: solid 3px var(--grey);
    background-color: var(--grey);
    border-radius: 20px;
    padding: 0 120px;
    height: 45px;
}

#done-btn:hover {
    transform: scale(1.02);
    background-color: #111111;
}

#done-btn:focus-visible {
    outline: none;
}

#done-btn-reset {
    font-size: 27px;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-top: 25%;
    transition: ease-in 0.1s;
    border: solid 3px var(--grey);
    background-color: var(--grey);
    border-radius: 20px;
    padding: 0 50px;
    height: 45px;
    display: inline-block;
}

#done-btn-reset:hover {
    color: white;
    transform: scale(1.02);
    background-color: #111111;
}

#done-btn-reset:focus-visible {
    outline: none;
}

#done-btn-reset-no {
    font-size: 27px;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-top: 25%;
    transition: ease-in 0.1s;
    border: solid 3px var(--grey);
    background-color: var(--grey);
    border-radius: 20px;
    padding: 0 50px;
    height: 45px;
    display: inline-block;
}

#done-btn-reset-no:hover {
    color: white;
    transform: scale(1.02);
    background-color: #111111;
}

#done-btn-reset-no:focus-visible {
    outline: none;
}

.remove-btn {
    height: auto;
    padding: 0;
    position: absolute;
    display: inline-block;
    transition: ease-in 0.1s;
    border: none;
    background: transparent;

}

.remove-btn img {
    height: 28px;
    filter: invert(34%) sepia(0%) saturate(240%) hue-rotate(137deg) brightness(90%) contrast(80%);
}

.remove-btn img:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

#edit-btn {
    filter: invert(34%) sepia(0%) saturate(240%) hue-rotate(137deg) brightness(90%) contrast(80%);
    position: absolute;
    right: 10px;
    top: 60px;
    height: 40px;
    aspect-ratio: 1;
    z-index: 2;
}

#exit-btn {
    filter: invert(87%) sepia(0%) saturate(485%) hue-rotate(156deg) brightness(94%) contrast(76%);
    align-items: center;
    margin: auto 10px auto auto;
    height: 28px;
    aspect-ratio: 1;
    float: right;
    cursor: pointer;
}

#exit-btn:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

#exit-btn-maker {
    position: absolute;
    filter: invert(87%) sepia(0%) saturate(485%) hue-rotate(156deg) brightness(94%) contrast(76%);
    align-items: center;
    margin: 15px 15px auto auto;
    height: 34px;
    aspect-ratio: 1;
    right: 1px;
    cursor: pointer;
}

#exit-btn-maker:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

#exit-btn-reset {
    filter: invert(34%) sepia(0%) saturate(240%) hue-rotate(137deg) brightness(90%) contrast(80%);
    align-items: center;
    margin: 10px 10px auto auto;
    height: 35px;
    aspect-ratio: 1;
    float: right;
    cursor: pointer;
}

#exit-btn-reset:hover {
    filter: invert(12%) sepia(74%) saturate(4881%) hue-rotate(351deg) brightness(100%) contrast(106%);
}

#reset-btn {
    filter: invert(34%) sepia(0%) saturate(240%) hue-rotate(137deg) brightness(90%) contrast(80%);
    margin: auto auto auto 5px;
    position: absolute;
    top: 10px;
    height: 30px;
    transition: 0.3s ease-out;
    display: inline-block;
}


#menu {
    background-color: var(--grey);
    z-index: 2;
    vertical-align: middle;
    position: relative;
    height: 50px;
    width: 100vw;
    left: 0;
    top: 0;
    border-bottom: thin solid #BEBEBE;
}

.presets {
    outline: none;
    background: none;
    border: none;
    font-size: 17px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    display: inline-block;
    padding: 15px 15px;
    margin: 0;
}

#focused {
    border-bottom: 3px solid var(--darkerpurple);
    padding-bottom: 3px;
}

.presetname {
    padding: 0;
    display: table;
    font-size: 25px;
    font-weight: 300;
    margin: -40px auto;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 1150px) {
    .presetname {
        margin-top: -10px;
    }

    #menu {
        height: 75px;
    }

    #list-button {
        top: -25%;
    }

    #home-btn {
        top: 12%;
    }

    #edit-btn {
        top: 85px;
    }
    .background{
        top: 75px !important;
    }
}

.presetname:focus-visible {
    outline: none;
}

#sidemenu {
    position: relative;
    overflow-x: scroll;
    justify-content: center;
    transition: ease 700ms;
    background-color: var(--grey);
    z-index: 3;
    height: calc(100vh - 53px);
    border-right: thin solid #BEBEBE;
    width: 200px;
}

#color-maker {
    display: none;
    text-align: center;
    background-color: rgba(83, 51, 210, 0.6);
    border: 3px solid black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 7;
    position: absolute;
    height: 75vh;
    border-radius: 20px;
    aspect-ratio: 1;
    width: auto;
}


#reset-error {
    display: none;
    text-align: center;
    background-color: rgba(83, 51, 210, 0.6);
    border: 3px solid black;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 7;
    position: absolute;
    height: 50vh;
    border-radius: 20px;
    aspect-ratio: 1;
    width: auto;
}

#color-block-maker {
    -webkit-appearance: none;
    display: inline-block;
    height: 20vh;
    width: 40vh;
    margin-top: 7vh;
    padding: 0;
    border-radius: 18px;
    border: 3px solid var(--grey);
}

#color-block-maker::-webkit-color-swatch {
    border: none;
    border-radius: 15px;
    padding: 0;
}

#color-block-maker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 15px;
    padding: 0;
}

#color-hex-maker {
    margin-top: 5vh;
    border-radius: 10px;
    padding: 0;
    max-width: 450px;
    height: 40px;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: transparent;
    border: 3px solid var(--grey);
}

.color-canvas-div {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0;
    height: 135px;
    background-color: var(--grey);
    width: 150px;
    border: solid #BEBEBE thin;
    border-radius: 10px;
    text-align: center;
}

.color-block-canvas {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    border-radius: 10px;
    width: 65px;
    height: 65px;
    z-index: 3;
    display: inline-block;
    border: none;
}

.color-block-canvas::-webkit-color-swatch {
    border: none;
    border-radius: 7px;
    padding: 0;
}

.color-block-canvas::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 7px;
    padding: 0;
}

.hex-canvas {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: initial;
    font-size: 19px;
    margin: 10px 0 5px 0;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
}

.color-div {
    z-index: 3;
    display: inline-block;
    padding: 20px 0;
    height: fit-content;
    width: 100%;
    border-bottom: thin solid #BEBEBE;
    vertical-align: center;
}

.color-block {
    cursor: pointer;
    border-radius: 10px;
    background-color: #585757;
    width: 50px;
    z-index: 3;
    aspect-ratio: 1;
    display: inline-block;
}

.color-side-input {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-bottom: 7px;
    padding: 0;
    width: 150px;
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
}

.color-side-input:focus-visible {
    outline: none;
}

.hex {
    cursor: pointer;
    font-size: 19px;
    margin: 10px 0 0 0;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
}

#chosep {
    color: white;
}

.center {
    text-align: center;
}

#color-delete-assurance {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid var(--border);
    z-index: 7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    border-radius: 20px;
    aspect-ratio: 1;
    width: 650px;
}

#delete-color {
    color: white;
    font-size: 27px;
}

.background {
    margin: 0;
    top: 50px;
    z-index: 1;
    overflow: hidden;
    background-image: radial-gradient(var(--border) 3px, transparent 3px);
    background-color: var(--grey);
    background-size: 40px 40px;
    width: calc(100vw - 203px);
    left: 203px;
    height: calc(100vh - 50px);
    position: fixed;
    display: inline;
}

.background-div {
    display: flex;
    position: relative;
    z-index: 1;
}

#copied-wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

#copied-div {
    border-radius: 10px;
    background-color: #69ff9b;
    width: 300px;
    height: 50px;
    z-index: 5;
    bottom: 30px;
    display: table;
    position: absolute;
}

#copied-text {
    color: white;
    font-size: 20px;
    font-weight: 300;
    height: fit-content;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

#editing-wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
}

#editing-div {
    border-radius: 5px;
    background-color: #333232;
    width: 500px;
    height: 50px;
    bottom: 10px;
    z-index: 5;
    position: absolute;
    display: flex;
}

#editing-text {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
    padding: 0;
    margin: 13px 0 13px 30px;
    font-family: Helvetica, sans-serif;
}

.presets-color-div {
    display: none;
}
